{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "listener-svc",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api.demo.tokend.io",
      "description": "TokenD Developer Environment"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "CreateInfoOrder": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateInfoOrderKey"
          },
          {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "link",
                  "name"
                ],
                "properties": {
                  "link": {
                    "type": "string",
                    "example": "http://localhost/*"
                  },
                  "name": {
                    "type": "string",
                    "example": ""
                  }
                }
              }
            }
          }
        ]
      },
      "CreateInfoOrderKey": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "create_info_order"
            ]
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "required": [
          "title",
          "status",
          "code"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem",
            "example": "Bad Request"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence of the problem",
            "example": "Your request was invalid in some way."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code applicable to this problem",
            "enum": [
              400
            ]
          },
          "code": {
            "type": "string",
            "description": "Application-specific error code, expressed as a string value",
            "enum": [
              "bad_request",
              "bad_request_data"
            ]
          },
          "meta": {
            "type": "object",
            "description": "Object containing non-standard meta-information about the error",
            "example": {
              "error": "failed to verify issuer: failed to create a request: invalid url",
              "error_info": "Issuer check failed."
            }
          }
        }
      },
      "InternalError": {
        "type": "object",
        "required": [
          "title",
          "status",
          "code"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem",
            "example": "Internal Error"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence of the problem",
            "example": "Some internal error occurred. Please report this error to service maintainers."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code applicable to this problem",
            "enum": [
              500
            ]
          },
          "code": {
            "type": "string",
            "description": "Application-specific error code, expressed as a string value",
            "enum": [
              "internal_error"
            ]
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "required": [
          "title",
          "status",
          "code"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem",
            "example": "Not Found"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence of the problem",
            "example": "The requested resource could not be found."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code applicable to this problem",
            "enum": [
              404
            ]
          },
          "code": {
            "type": "string",
            "description": "Application-specific error code, expressed as a string value",
            "enum": [
              "not_found"
            ]
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "required": [
          "title",
          "status",
          "code"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem",
            "example": "Unauthorized"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence of the problem",
            "example": "Session token is invalid. It either has expired or is corrupted. Please log in and obtain a new one."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code applicable to this problem",
            "enum": [
              401
            ]
          },
          "code": {
            "type": "string",
            "description": "Application-specific error code, expressed as a string value",
            "enum": [
              "session_token_not_found",
              "session_token_invalid"
            ]
          }
        }
      },
      "Order": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderKey"
          },
          {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "1233456657ddf"
                  }
                }
              }
            }
          }
        ]
      },
      "OrderKey": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": "order"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "errors"
              ],
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadRequestError"
                  }
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "errors"
              ],
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InternalError"
                  }
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "errors"
              ],
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotFoundError"
                  }
                }
              }
            }
          }
        }
      },
      "OrderResponse": {
        "description": "Create order  response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "pageLimitParam": {
        "in": "query",
        "name": "page[limit]",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 15,
          "description": "Numbers of items per page to return."
        }
      },
      "pageNumberParam": {
        "in": "query",
        "name": "page[number]",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "The number of a page to return."
      },
      "sortingParam": {
        "in": "query",
        "name": "page[order]",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc",
          "description": "Order of records on the page. If sortingParam is not specified, order of records is by default sorted by ID."
        }
      }
    }
  }
}
